<div class="banner-content w-100 h-100" style="background-image: url(../assets/images/image_good.svg)">
  <section class="stas-section">
    <div class="main-banner-wrapper">
      <div class="content-info row mx-0">
        <div class="stats-info col-md-5">
          <div class="row mx-0">
            <div class="col-7">
              <div class="stats-media">
                <h5 class="font-sans text-style-b text-center">
                  Air Quality
                </h5>
                <div class="row mx-0">
                  <div class="col-5 px-0">
                    <div class="gb-pro" style="background: linear-gradient(180deg, #72CD87 0%, #97DCA5 0%, #A4E9A8 100%);">
                      <img class="mood-icon" src="../../assets/images/icons/face-icon-good.svg" alt="">
                    </div>
                  </div>
                  <div class="col-7 px-0">
                    <div class="score-cards">
                      <h2 class="text-style-lgb color-style-lgb font-cabin mb-0">
                        80
                      </h2>
                      <h4 class="font-cabin color-style-lgb text-style-sgb mb-0">Good</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <h5 class="font-sans text-style-b text-center">
                Weather
              </h5>
              <div class="score-cards">
                <h2 class="text-style-lgb color-style-dgb font-cabin mb-0">
                  22°C
                </h2>
                <h4 class="font-cabin color-style-dgb text-style-sgb mb-0">Mostly Sunny</h4>
              </div>
            </div>
          </div>
          <div class="green-b-b my-4"></div>
          <div class="row mx-0 stats-temp">
            <div class="col-4 text-center">
              <h6 class="font-sans temp-txt-top">High</h6>
              <h3 class="temp-txt-bottom font-cabin">24°C</h3>
            </div>
            <div class="col-4 text-center">
              <h6 class="font-sans temp-txt-top">Low</h6>
              <h3 class="temp-txt-bottom font-cabin">15°C</h3>
            </div>
            <div class="col-4 text-center">
              <h6 class="font-sans temp-txt-top">Feels Like</h6>
              <h3 class="temp-txt-bottom font-cabin">20°C</h3>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <div class="padding-t-req"></div>
  <section class="daily-week-logs pb-4">
    <div class="w-75 mx-auto">
      <div class="forecast-header font-cabin">
        <h3 class="forecast-txt m-0">Forecast</h3>

        <ul class="list-unstyled float-right forecast-sub-txt m-0">
          <li class="active">Today</li>
          <li>Weekly</li>
        </ul>
        <div class="green-b-b my-2 clearfix"></div>

      </div>
      <div class="row mx-2 pt-3">
        <div class="col-2dot4  col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
          <div class="forecast-content">
            <div class="f-top text-center">
              <h6 class="font-sans pb-1">7 AM</h6>
              <h4 class="font-cabin">24°C</h4>
              <h5 class="font-cabin pb-1"><img src="" class="icon-set icon-sun">Sunny</h5>
            </div>
            <div class="f-bottom">
              <div class="row mx-0">
                <div class="col-4 px-0">
                  <div class="moods-grad" style="background: linear-gradient(180deg, #14B739 0%, #A4E9A8 100%); padding: 15px;     padding: 13px 0px;
                  text-align: center;">
                    <img width="30" class="moods-icon" src="../../assets/images/icons/face-icon-good.svg">
                  </div>
                </div>
                <div class="col-8 px-0">
                  <div class="cont-cond">
                    <h4 class="cont-txt-val font-cabin ex-green m-0">
                      20
                    </h4>
                    <h5 class="cont-txt-txt font-cabin ex-green m-0">
                      Excellent
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2dot4  col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
          <div class="forecast-content">
            <div class="f-top text-center">
              <h6 class="font-sans pb-1">7 AM</h6>
              <h4 class="font-cabin">24°C</h4>
              <h5 class="font-cabin pb-1"><img src="" class="icon-set icon-sun">Sunny</h5>
            </div>
            <div class="f-bottom">
              <div class="row mx-0">
                <div class="col-4 px-0">
                  <div class="moods-grad" style="background: linear-gradient(180deg, #72CD87 0%, #97DCA5 0%, #A4E9A8 100%); padding: 15px;     padding: 13px 0px;
                    text-align: center;">
                    <img width="30" class="moods-icon" src="../../assets/images/icons/face-icon-good.svg">
                  </div>
                </div>
                <div class="col-8 px-0">
                  <div class="cont-cond">
                    <h4 class="cont-txt-val font-cabin gd-green   m-0">
                      20
                    </h4>
                    <h5 class="cont-txt-txt font-cabin gd-green  m-0">
                      Excellent
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2dot4  col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
          <div class="forecast-content">
            <div class="f-top text-center">
              <h6 class="font-sans pb-1">7 AM</h6>
              <h4 class="font-cabin">24°C</h4>
              <h5 class="font-cabin pb-1"><img src="" class="icon-set icon-sun">Sunny</h5>
            </div>
            <div class="f-bottom">
              <div class="row mx-0">
                <div class="col-4 px-0">
                  <div class="moods-grad" style="background: linear-gradient(180deg, #F86D6E 0%, #FF9678 100%); padding: 15px;     padding: 13px 0px;
                      text-align: center;">
                    <img width="30" class="moods-icon" src="../../assets/images/icons/face-icon-good.svg">
                  </div>
                </div>
                <div class="col-8 px-0">
                  <div class="cont-cond">
                    <h4 class="cont-txt-val font-cabin bad-red m-0">
                      20
                    </h4>
                    <h5 class="cont-txt-txt font-cabin bad-red m-0">
                      Excellent
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2dot4  col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
          <div class="forecast-content">
            <div class="f-top text-center">
              <h6 class="font-sans pb-1">7 AM</h6>
              <h4 class="font-cabin">24°C</h4>
              <h5 class="font-cabin pb-1"><img src="" class="icon-set icon-sun">Sunny</h5>
            </div>
            <div class="f-bottom">
              <div class="row mx-0">
                <div class="col-4 px-0">
                  <div class="moods-grad" style="background: linear-gradient(180deg, #E92B2C 0%, #E28165 100%); padding: 15px;     padding: 13px 0px;
                        text-align: center;">
                    <img width="30" class="moods-icon" src="../../assets/images/icons/face-icon-good.svg">
                  </div>
                </div>
                <div class="col-8 px-0">
                  <div class="cont-cond">
                    <h4 class="cont-txt-val font-cabin vbad-red m-0">
                      20
                    </h4>
                    <h5 class="cont-txt-txt font-cabin vbad-red m-0">
                      Excellent
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2dot4  col-sm-2dot4 col-md-2dot4 col-lg-2dot4">
          <div class="forecast-content">
            <div class="f-top text-center">
              <h6 class="font-sans pb-1">7 AM</h6>
              <h4 class="font-cabin">24°C</h4>
              <h5 class="font-cabin pb-1"><img src="" class="icon-set icon-sun">Sunny</h5>
            </div>
            <div class="f-bottom">
              <div class="row mx-0">
                <div class="col-4 px-0">
                  <div class="moods-grad" style="background: linear-gradient(180deg, #FFA372 0%, #FFB973 100%); padding: 15px;     padding: 13px 0px;
                          text-align: center;">
                    <img width="30" class="moods-icon" src="../../assets/images/icons/face-icon-good.svg">
                  </div>
                </div>
                <div class="col-8 px-0">
                  <div class="cont-cond">
                    <h4 class="cont-txt-val font-cabin mod-red m-0">
                      20
                    </h4>
                    <h5 class="cont-txt-txt font-cabin mod-red m-0">
                      Excellent
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
