@import "../../assets/scss/common.scss";

.banner-content {
  background-size: 100%;
  background-repeat: no-repeat;
}

// .main-banner-wrapper {
//   min-height: 100vh;
// }

.gb-pro {
  width: 100.8px;
  height: 115px;
}

.mood-icon {
  width: 100%;
  padding: 20px;
}

.forecast-content {
  padding-top: 15px;
  border: 1px solid #1B8C64;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 11px;
}

.f-top {
  h5 {
    color: $color-style-dgb;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.51px;
  }

  h4 {
    color: $color-style-dgb;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.4px;
    ;
  }

  h6 {
    color: $color-style-dgb;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.4px;
  }
}

.stats-temp {}

@media screen and (min-width: 769px) {
  .stats-info {
    top: 130px;
    left: 6%;
    position: relative;
  }
}


//five columns split
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (max-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 2px !important;
    margin: 2px 0px !important;

    .forecast-content {
      margin: 0;
    }
  }

  .text-style-lgb {
    font-size: 3.25em;
  }
}

@media (max-width: 959px) and (min-width:541px) {
  .text-style-lgb {
    font-size: 6.25em;
  }
}

@media (max-width: 960px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
    margin: 12px 0px;
  }

  .banner-content {
    background-size: cover;
  }

  .stats-info {
    top: 27.5vh;
  }

  .gb-pro {
    width: auto;
    height: auto;
  }

  .text-style-sgb {
    font-size: 1.25em;
  }
}


@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0;

  }
}

@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
